{:nrepl {:port 8777}

 :deps {:aliases [:dev]}

 :dev-http
 {4200 "public"}

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn atd.core/init!}}
   :devtools {:reload-strategy :full
              :repl-pprint true
              :preloads [atd.dev user]}
   :dev {:compiler-options {:output-feature-set :es7
                            :closure-defines {atd.config/sanity-endpoint "https://sfsmp6cu.api.sanity.io/v2021-10-21/data/query/production?query="}}}}

  :release
  {:target     :browser
   :output-dir "release/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn atd.core/init!}}
   :compiler-options {:output-feature-set :es7
                      :optimizations :advanced
                      :pretty-print false
                      :closure-defines {atd.config/sanity-endpoint "https://sfsmp6cu.api.sanity.io/v2021-10-21/data/query/production?query="}}}}}