@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/fira/FiraCode-VF.woff2') format('woff2'),
         url('../fonts/fira/FiraCode-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

.hero-nav-links {
    color: #131313;
}

.my-buddy {
    animation: fadeInBorder 5s ease-in-out forwards;
    animation-delay: 1s;
    border-bottom: 2px solid transparent;
  }

  @keyframes fadeInBorder {
    from {
      border-color: transparent;
    }
    to {
      border-color: #000;
    }
  }

.massive-title {
    font-size: 24em;
    font-family: "FiraCode-SemiBold";
    color: #EAEAEA;
    opacity: 0;
    
    letter-spacing: -0.1em;
    pointer-events: false;
}

.flash-text{
    font-size:20rem;
    letter-spacing: -1rem;
    text-align:middle;
    text-anchor:middle;
    stroke-width:10px;
    fill: rgba(255, 239, 249, 0.8);
  }

.orange-grad {
    background: linear-gradient(246.25deg, #FFC700 -88.21%, #EE0909 174.55%);
}

.blue-grad {
    background: linear-gradient(246.25deg, #4260FC -88.21%, #00FF38 174.55%);
}

.grey-grad {
    background: linear-gradient(246.25deg, #222222 -88.21%, #0F0F0F 174.55%);
}

.purple-grad {
    background: linear-gradient(246.25deg, #8D43A7 -88.21%, #FC4242 174.55%);
}

.pink-grad {
    background: linear-gradient(246.25deg, #dd0ba2 -88.21%, #752941 174.55%);
}

.playable-text-background {
    background-color:rgba(197, 94, 168, 0.71);
}

.section-background {
    z-index: -1;
}

.hero-text {
  font-size: 2em;
  font-family: "FiraCode-SemiBold";
  color: #292929;
  pointer-events: false;
}

.swirl {
  background: radial-gradient(ellipse at 99% 96%, #bceafa 21%, rgba(188, 234, 250, 0) 68%), radial-gradient(ellipse farthest-corner at 0% 99%, #fdf7e8 0%, #f7c56b 42%, #da62c1 100%);
  background-blend-mode: normal, normal;
  background-repeat: repeat, repeat;
  background-position: 0 0, 0.65 0;
  background-size: auto auto, 0undefined 0undefined;
}